<%= form_with(model: subject, local: true) do |form| %>

  <%= render "shared/error", object: subject %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subject_name %>
  </div>

  <div class="field">
    <%= form.label :color_code %>
    <%= form.number_field :color_code, id: :subject_color_code %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :subject_time %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.select :user_id, @users.map{|t| [t.name, t.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
