<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subject_name %>
  </div>

  <div class="field">
    <%= form.label :color_code %>
    <%= form.number_field :color_code, id: :subject_color_code %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :subject_time %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.select :user_id, @users.map{|t| [t.name, t.id]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
